#toc {
  border: solid 1px black;
  padding: 2px;
}
#toc a {
  text-decoration: underline;
  color: black;
}
#toc::before {
    content: "目录";
    font-weight: bold;
    display: block;
    margin-bottom: 0;
}
